<!doctype html>
<html itemscope itemtype="http://schema.org/Article" prefix="og: http://ogp.me/ns#">

<head>
    <% include ./partials/head %>
        <style>
            body {
                background-color: #f3f3f3;
            }
            
            .panel a {
                text-decoration: none;
                color: #fff;
            }
            
            .col-md-8>p {
                font-family: quicksand;
            }
            
           .white-container {
                background: #fff;
                padding: 30px;
                margin-bottom: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;
            }
            
            .white-container:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }
            .panel p>a{
                color: mediumblue;
                text-decoration: underline;
            }
            
        </style>
</head>

<body>
    <% include ./partials/header %>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-7 white-container">
                    <h1>My Code Blogs</h1>
                    <p id="count"></p>
                    <hr>
                    <div id="show">
                        <%- posts %>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 white-container">
                    <form id="search_form2">
                        <div class="alert alert-danger" id="search_error2"></div>
                        <div class="input-group">
                            <input class="form-control" id="input_search2" type="text" placeholder="Search a post..">
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Go!</button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% include ./partials/footer %>
            <script>
                $(function () {
                    $("#search_error2").hide(),$("#search_form2").submit(function (e) { e.preventDefault(); var r = $("#input_search2").val(); "" != r && r ? window.location.replace("/search?q=" + r) : ($("#search_error2").show(), $("#search_error2").html("Please enter a query")) })
                    var pageNo = window.location.search ? decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent("page").replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1")) : 1;
                    $("#count").html("Page " + pageNo)
                })
            </script>
</body>

</html>