<!doctype html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/header %>
        <div class="container">
            <h1>Images Urls</h1>
            <ul id="output" class="list-group"></ul>
        </div>
        <% include ./partials/footer %>
        <script>
            var links = <%- images %>;
            links.forEach(function(item){
                var currentItemMarkup="<li class=\"list-group-item\"><a href=\"/static/uploads/"+item.imageName+"\" target=\"_blank\">"+item.imageName+"</a></li>";
                $("#output").append(currentItemMarkup);
            })
        </script>
</body>

</html>