 @import url('https://fonts.googleapis.com/css?family=Quicksand:500');
.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif;
}

a{
    cursor: pointer !important;
}

.navbar-inverse a {
    font-size: 20px;
    padding-bottom: 20px !important; 
}

.showcase{
    background: url('/static/img/code_img.jpg');
    min-height: 400px;
    color: #fff;
    text-align: center;
}

.showcase h1{
    font-size: 60px;
}

.navbar{
    margin-bottom: 0 !important;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

footer{
    background-color: #1a6ecc;
    color: #fff;
    margin-top: 20px;
    padding: 40px 10px 20px 10px; 
}

.inline{
    display: inline-block;
}

.white{
    color: #fff !important;
    padding: 14.5px 15px 14.5px 15px !important;
}
footer .navbar-nav>li{
    float: left !important;
}

footer a{
    color: #fff;
}

footer a:hover{
    color: #fff;
}

img{
    display:block;
    max-width:100%;
    height:auto;
}
.panel img{
    margin-left: auto;
    margin-right: auto;
}

.panel-body a:first-child{
    display: block;
    padding: 4px;
    margin-bottom: 21px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.panel-body a:first-child:hover{
    border-color: #2780e3;
}

#google_translate_element img{
    display: initial;
}

@media all and (max-width:768px){
    footer{
        text-align: center !important;
    }
    footer .navbar-nav{
        padding-left: 10px;
    }
}